@import './variables.scss';

 @import "variables";
/*  @import url('https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/js/darkmode.min.js'); */
 

.cursor-pointer {
    cursor: pointer
}

.link-none {
    color: inherit; 
    text-decoration: none;
}

.loginScreen {
    overflow: hidden

}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    border-color: transparent;
}
.card-header {
    background-color: transparent;
    border-bottom: none;
}

.sidebar { 
    position: relative;
    height: calc(100vh - 78px);
    bottom: 0;
    z-index: 900;
    width: 280px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.5s ease-out;
    
  }
  
  .sidebar-open {
    position: relative;
    transition: transform 0.5s ease-out;
    width: 80px;
  }

.on-hover:hover {
    background-color: #1a651734;
}

