@import './variables.scss';

 @import "variables";
/*  @import url('https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/js/darkmode.min.js'); */
 

.cursor-pointer {
    cursor: pointer
}

.link-none {
    color: inherit; 
    text-decoration: none;
}

.loginScreen {
    overflow: hidden

}

.card {
    background-color: transparent;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.card-header {
    background-color: transparent;
    border-bottom: none;
}


